.secao_cards {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secao_cards h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 32px;
}

.chatgpt {
    text-align: center;
    font-style: italic;
    font-size: 24px;
}

.cards {
    padding: 20px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
